.footer {
    background-color: #333333;
    color: #fff;
    margin-top: 5%;
    padding: 40px 60px;
    display: flex;

    &-block {
        display: flex;
        justify-content: space-between;
        gap: 12%;

        &-Links {
            display: flex;
            flex-direction: column;

            .link {
                width: 130px;
                margin-top: 5%;
            }
        }

        &-text {
            margin-left: 27%;

            &-button {
                position: relative;
                padding: 10px 20px;
                color: #219653;
                background: linear-gradient(to bottom, #333333 50%, transparent 50%);
                background-size: 100% 200%;
                background-position: top;
                border: solid 3px #219653;
                border-radius: 5px;
            }

            &-button:hover {
                background-position: bottom;
                background-color: #fff;
                color: #219653;
            }

            &-first {
                display: flex;
                gap: 10px;
                margin-top: 10%;
            }

            &-second {
                display: flex;
                gap: 10px;
                margin-top: 10%;
            }
        }
    }
}