.aboutServices{
    height: 100vh;
    background-image: url('../../../shared/aboutPageImg//image\ 3.png');
    color: #fff;
    padding: 80px;
    margin-top: 5%;

    &-text{
        &-title{
            font-size: 45px;
            text-align: center;
        }
        &-description{
            text-align: center;
            margin-top: 5px;
        }
    }
    &-cards{
        display: flex;
        justify-content: space-between;
        margin-top: 3%;

        &-part1{
            width: 480px;
            &-card{
                margin-top: 2%;
                padding: 10px;
                border: solid 3px #219653;
                border-radius: 10px;
                color: black;
                background-color: #fff;
            }
        }
        &-part2{
            width: 480px;

            &-card{
                display: flex;
                align-items: center;
                margin-top: 2%;
                padding: 10px;
                border: solid 3px #219653;
                border-radius: 10px;
                color: black;
                background-color: #fff;
            }
        }
    }
    &-div{
        text-align: center;
        margin-top: 3%;

        &-button{
            padding: 15px 25px;
            border: none;
            border-radius: 5px;
            background-color: #219653;
            color: white;
        }
    }
}