.header {
    margin-top: 2%;

    &-data {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-logo {
            max-width: 200px;
            width: 100%;
        }

        &-text {
            display: flex;
            gap: 30px;
            &-first {
                display: flex;
                gap: 10px;
                align-items: center;

            }
            &-second {
                display: flex;
                align-items: center;
                gap: 10px;
            }
            &-button {
                align-items: center;
                &-text {
                    padding: 10px 25px;
                    font-size: clamp(20px, 15px, 10px);
                    border: solid 2px #219653;
                    border-radius: 5px;
                    cursor: pointer;
                    background-color: #fff;
                }
            }
        }
    }

    &-block {
        margin-top: 2%;
        height: 3rem;
        width: 100%;
        background-color: #333333;
        color: #219653;
        display: flex;
        align-items: center;

        &-links {
            display: flex;
            justify-content: space-around;
            width: 100%;
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .header{
        &-data{
            &-logo{
                width: 70%;
            }
            &-text{
                &-first{
                    font-size: 12px;

                    &-logo{
                        width: 12%;
                    }
                }
                &-second{
                    font-size: 12px;

                    &-logo{
                        width: 12%;
                    }
                }
                &-button{
                    &-text{
                        font-size: 60%;
                    }
                }
            }
        }
    }
}